@font-face {
    font-family: 'MADE TOMMY';
    src: url('../fonts/MADE-TOMMY-Regular_PERSONAL-USE.woff2') format('woff2'),
         url('../fonts/MADE-TOMMY-Regular_PERSONAL-USE.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MADE TOMMY';
    src: url('../fonts/MADE-TOMMY-Bold_PERSONAL-USE.woff2') format('woff2'),
         url('../fonts/MADE-TOMMY-Bold_PERSONAL-USE.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

